.dropdown-content {
	background: var(--cz-color-bg-primary);
	color: var(--cz-color-text-primary);
	border-radius: var(--cz-radius-md);
	box-shadow: var(--cz-shadow-lg);
	padding: calc(var(--cz-spacing) * 2);
}

.dropdown-search-input {
	margin-bottom: 8px;
	padding: 4px;
}

.position-grid {
	position: relative;
	height: 100vh;
	padding: 8px;
	box-sizing: border-box;
}

.position-top-left {
	position: absolute;
	top: 8px;
	left: 8px;
}

.position-top-right {
	position: absolute;
	top: 8px;
	right: 8px;
}

.position-bottom-left {
	position: absolute;
	bottom: 8px;
	left: 8px;
}

.position-bottom-right {
	position: absolute;
	bottom: 8px;
	right: 8px;
}
